h1 { border-bottom-style: inset; }
pre { font-size: 1.2em; }
.aDireita { text-align: right; }
span { margin-left: 70px; }
select { width: 150px; }
.detalhes { width: 380px; }
.oculta { display: none; }
.exibe { display: inline; }
